header(class="lts-top-app-bar mdc-top-app-bar mdc-top-app-bar--fixed")
    div(class="mdc-top-app-bar__row")
        section(class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start")
            h1
                a(class="lts-logo mdc-top-app-bar__title" href="/") Lionstooth Software