footer(class='lts-footer')
    a(href='https://twitter.com/LionstoothSoft' target='_blank')
        +icon(require('../images/icons.svg'), 'twitter')
    a(href='https://www.instagram.com/LionstoothSoftware/' target='_blank')
        +icon(require('../images/icons.svg'), 'instagram')
    a(href='mailto:eric@lionstoothsoftware.com' target='_blank')
        +icon(require('../images/icons.svg'), 'envelope')
