doctype html
html(lang="en")
    head
        block analytics
            include includes/analytics
        block title
            title Software Development - Apps & Services | Lionstooth Software
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv='X-UA-Compatible' content='ie=edge')
        block descriptionMeta
        block structuredData
        block styles
            link(rel="stylesheet" href="bundle.css")
        block scripts
    body
        block header
            include includes/header
        block content
        block footer